* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header, footer {
    box-sizing: border-box;
    padding: 30px 0;
    width: 100%;
}

.main-block {
    box-sizing: border-box;
    padding: 60px 0;
    width: 100%;
}

header {
    position: fixed;
    background-color: #ffffff;
}

footer {
    background-color: #F0F3F5;
    position: fixed;
    bottom: 0;

}

.sideBar {
    position: fixed;
    height: 100%;
    width: 15%;
    background-color: #2E3539;
}

.articleList {
    width: 85%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    background-color: #E4E5E6;
    outline: 1px solid #C7CED2;
}

.articleContainer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    height: auto;
}

h1 {
    border-top: 2px solid darkgrey;
    padding: 2% 0 0 15%;
}

.articleContainer p, span, ol {
    padding: 5px 30px;
}
